<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')  %>
<body>
   <header>
      <%- include('partials/navbar.ejs')  %>
   </header>
   <h1>Halaman Homepage</h1>
   <h3><%= 'hello world'.toUpperCase()  %></h3>

   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam perferendis possimus corrupti placeat consequatur sit alias rerum voluptatibus voluptatum, doloribus vitae libero quia similique! Quis magni temporibus culpa! Recusandae, quisquam!</p>
</body>
</html>